<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Canadian Emergency Triage App</title>
    <!-- Add your custom styles if needed -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");

      .custom-navbar {
        background-color: white; /* Change this to your desired color */
        color: #4aa276;
      }
      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice {
        align-items: center;
      }

      ::placeholder {
        font-size: 18px;
        font-family: "Pompiere", cursive;
      }

      a {
        color: #4aa276;
        font-size: x-large;
      }

      label {
        font-size: 20px;
      }

      body {
        font-family: "Pompiere", cursive;
        /* font-size: x-large; */
        height: 1000px;
      }

      button {
        font-size: xx-large;
        color: #4aa276;
      }

      .js-example-basic-multiple {
        width: 315px;
        height: 20px;
      }
      .heading {
        text-align: center;
        font-weight: bold;
      }

      /* Custom Footer */
      .custom-footer {
        background-color: #e0fbd6;
        color: #000000; /* White font color */
        text-align: center;
        padding: 10px 0; /* Adjust padding as needed */
        bottom: 0;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }

      /* Images */
      .footer-image {
        position: fixed;
        bottom: 0;
        width: 15%; /* Adjust the size as needed */
        z-index: 2; /* Ensure the images are above the footer */
      }

      .footer-image-left {
        left: 0;
        height: 150px;
        width: 150px;
      }

      .footer-image-right {
        right: 0;
        height: 150px;
        width: 150px;
      }

      .button-container {
        justify-content: center;
        margin-top: 20px;
        margin-left: 0px;
      }

      .btn-lg {
        padding: 15px 30px;
        font-size: 2rem;
      }

      /* Center and style form */
      .form-container {
        margin: 0 auto;
        width: 60%;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
        height: 1000px;
        border-radius: 15px;
      }

      .input-image-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 100px;
      }

      .footer-image-line {
        width: 100%;
        margin-top: 2px;
      }

      .form-control {
        margin-bottom: 10px;
      }

      footer {
        font-size: 20px;
      }

      .form-check-label-spacing {
        margin-right: 40px; /* Adjust the margin-right as needed */
      }
      .badge-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        /* background-color: #f5f5f5; */
      }

      .badge {
        background-color: #d9534f; /* Bootstrap's danger color for the emergency feel, change as needed */
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        /* max-width: 300px; */
        padding: 15px;
        text-align: center;
      }

      .badge-header {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .badge-content {
        font-size: 16px;
      }

      .badge p {
        margin: 5px 0;
      }

      #conditionalDiv{
        display: none;
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
      $(document).ready(function () {
        // Your array of options

        var optionsArray = [
          "right eye swelling",
          "left hand injury",
          "left leg numbness",
          "withdrawal",
          "left testicular pain",
          "c-spine fracture",
          "eye evaluation",
          "left lower quadrant pain",
          "vomiting and or nausea",
          "left knee swelling",
          "jaw pain",
          "blurred vision",
          "myalgia",
          "rapid atrial fibrillation",
          "lab request",
          "facial fracture",
          "left toe pain",
          "hyponatremia",
          "toe pain",
          "gastroparesis",
          "right knee injury",
          "right leg injury",
          "nausea vomiting",
          "sepsis",
          "right finger pain",
          "facial cellulitis",
          "right eye evaluation",
          "priapism",
          "left side pain",
          "psychiatric evaluation",
          "abnormal echo",
          "depression",
          "feels unwell",
          "visual disturbance",
          "cough fever",
          "left calf pain",
          "alcohol withdrawal",
          "rectal bleeding",
          "melena",
          "transient ischemic attack",
          "dyspnea on exertion",
          "psychiatric hold",
          "mild cognitive impairment",
          "mechanical fall",
          "bilateral hand pain",
          "left arm pain",
          "ethyl alcohol withdrawal",
          "penile pain",
          "hand numbness",
          "chest pain",
          "abdominal pain",
          "left elbow fracture",
          "chin lac",
          "subarachnoid hemorrhage",
          "peripherally inserted central catheter line evaluation",
          "facial numbness",
          "right eye pain",
          "fall",
          "diahrrea",
          "left finger swelling",
          "black stool",
          "productive cough",
          "left groin pain",
          "facial lac",
          "left sided abdominal pain",
          "finger injury",
          "abdominal aortic aneurysm",
          "anxiety",
          "facial droop",
          "upper abdominal pain",
          "difficulty breathing",
          "right sided weakness",
          "right shoulder pain",
          "migraine",
          "bleeding",
          "vomiting blood",
          "wound evaluation",
          "right hip pain",
          "ingestion",
          "shortness of breath chest pain",
          "pelvic fracture",
          "influenza like illness",
          "clotted fistula",
          "weak",
          "atrial fibrillation",
          "incontinence",
          "altered mental status",
          "left lower extremity swelling",
          "discharge",
          "vomitting",
          "self injury",
          "hand injury",
          "tremor",
          "multiple sclerosis changes",
          "dyspnea",
          "neck pain",
          "pain",
          "left eye evaluation",
          "headache",
          "status post seizure",
          "positive blood cultures",
          "substernal chest pain",
          "right calf pain",
          "facial pain",
          "right thumb injury",
          "left rib pain",
          "body pain",
          " self injury",
          "left shoulder pain",
          "alt multiple sclerosis",
          "abdomen pain ",
          "elevated blood sugar",
          "tongue swelling",
          "exposure",
          "needs endoscopic retrograde cholangiopancreatography",
          "human bite",
          "head pain",
          "bradycardia",
          "vaginal pain",
          "anorexia",
          "rectal pain",
          "unwitnessed fall",
          "lip laceration",
          "left leg swelling",
          "medical reaction",
          "left foot pain",
          "left arm weakness",
          "acute renal failure",
          "unable to void",
          "vaginal bleeding",
          "vomiting abdomen pain",
          "right sided chest pain",
          "leg swelling",
          "status post fall ",
          "abdominal distention",
          "right hip fracture",
          "right shoulder dislocation",
          "transfer",
          "resolved",
          "double vision",
          "testicular swelling",
          "blood in stool",
          "dyspnea ",
          "head lac",
          "unsteady gait",
          "appendicitis",
          "right finger injury",
          "deep vein thrombosis",
          "seizure",
          "vaginal itching",
          "self injury    ",
          "right sided abdominal pain",
          "oliguria",
          "vomiting diarrhea",
          "right elbow pain",
          "leg laceration",
          "left eye pain",
          "left wrist laceration",
          "lethargic",
          "left neck pain",
          "suicide attempt",
          "right abdomen pain",
          "left hand swelling",
          "cat bite",
          "cough",
          "hip pain",
          "left numbness",
          "arm numbness",
          "congestion",
          "right arm injury",
          "right ankle pain",
          "headache nausea",
          "left hand laceration",
          "mandibular fracture",
          "left arm tingling",
          "generalized weakness",
          "dental pain",
          "lower extremity weakness",
          "substance use",
          "bowel obstruction",
          "weight gain",
          "throat pain",
          "right arm redness",
          "status post fall",
          "rule out urinary tract infection",
          "self injury hi",
          "right breast pain",
          "ear pain",
          "midline evaluation",
          "rule out transient ischemic attack",
          "influenza",
          "right hand pain",
          "sickle cell crisis",
          "left upper quadrant abdomen pain",
          "dog bite",
          "nausea diarrhea",
          "urinary incontinence",
          "headache ",
          "left elbow pain",
          "heart racing",
          "right side pain",
          "right lower quadrant abdominal pain",
          "right upper quadrant abdominal pain",
          "hypokalemia",
          "right elbow fracture",
          "pulmonary embolism",
          "ankle pain",
          "left wrist pain",
          "bilateral flank pain",
          "right weakness",
          "cerebrovascular accident",
          "right inguinal pain",
          "clotted graft",
          "foot swelling",
          "left thumb pain",
          "combative",
          "irregular heart rate",
          "hearing voices",
          "genitourinary evaluation",
          "orbital fracture",
          "right lower quadrant pain",
          "leg pain",
          "lip lac",
          "left heel pain",
          "word finding difficulty",
          "right hand swelling",
          "renal failure",
          "constipation",
          "finger laceration",
          "thumb laceration",
          "ataxia",
          "left knee injury",
          "malaise",
          "falls",
          "intraparenchymal hemorrhage",
          "diabetic ketoacidosis",
          "bilateral arm numbness",
          "hand pain",
          "gastrointestinal bleed",
          "epigastric pain",
          "right flank pain",
          "nephrostomy tube evaluation",
          "bilateral shoulder pain",
          "back pain ",
          "tremors",
          "multiple falls",
          "nausea",
          "intoxicated",
          "left leg cellulitis",
          "bilateral leg swelling",
          "right foot numbness",
          "ah",
          "unable to ambulate",
          "fever ",
          "slurred speech",
          "left jaw pain",
          "right arm fracture",
          "upper back pain",
          "right leg deep vein thrombosis",
          "rule out pulmonary embolism",
          "hypertension",
          "left arm injury",
          "elevated troponin",
          "wheezing",
          "insomnia",
          "gyn evaluation",
          "hematemesis",
          "vaginal bleed",
          "right foot redness",
          "fever cough",
          "right neck pain",
          "ethyl alcohol detox",
          "facial trauma",
          "swelling",
          "right eye redness",
          "delusions",
          "staples removal",
          "right facial droop",
          "left facial numbness",
          "left finger pain",
          "hypoglycemia",
          "lower extremity edema",
          "left hand weakness",
          "wrist injury",
          "left upper quadrant pain",
          "syncope",
          "finger infection",
          "sore throat",
          "left eye injury",
          "ekg changes",
          "foot laceration",
          "smoke inhalation",
          "right finger laceration",
          "genitourinary pain",
          "calf pain",
          "hypoxia",
          "psych",
          "foreign body throat",
          "left humerus fracture",
          "right ankle swelling",
          "left back pain",
          "arm laceration",
          "right rib pain",
          "coffee ground emesis",
          "throat foreign body sensation",
          "foot injury",
          "urinary frequency",
          "angioedema",
          "left chest pain",
          "ventricular hypertrophy",
          "prescription refill",
          "thumb injury",
          "right foot swelling",
          "breast pain",
          "fever",
          "neuro evaluation",
          "lower extremity pain",
          "gallstones",
          "status post hypotension",
          "confused",
          "arm swelling",
          "head injury",
          "clogged foley",
          "polyuria",
          "right arm numbness",
          "right foot ulcer",
          "tracheostomy evaluation",
          "pregnant",
          "elevated d-dimer",
          "left foot numbness",
          "left leg redness",
          "congestive heart failure",
          "thrombocytopenia",
          "for evaluation",
          "sinus pain",
          "left finger laceration",
          "fecal incontinence",
          "palpatations",
          "for admission",
          "   ",
          " seizure",
          "palpitations",
          "left hand numbness",
          "arm pain",
          "abnormal ultrasound",
          "psychosis",
          "jaundice",
          "right foot injury",
          "chest pressure",
          "bike accident",
          "percutaneous transluminal angioplasty",
          "gastrointestinal bleeding",
          "multiple c o",
          "left lower quadrant abdominal pain",
          "left arm fracture",
          "left ear pain",
          "right thumb laceration",
          "vision changes",
          "foreign body",
          "right arm laceration",
          "abnormal lab values",
          "bleeding fistula",
          "right ankle injury",
          "fever chills",
          "tick bite",
          "left inguinal pain",
          "finger swelling",
          "abnormal ct",
          "gastrostomy tube evaluation",
          "altered multiple sclerosis",
          "acute pelvic pain",
          "left shoulder injury",
          "lip swelling",
          "needlestick",
          "cough shortness of breath",
          "femur fracture",
          "detox",
          "left ankle injury",
          "gum bleeding",
          "neutropenia",
          "motorcycle accident",
          "left finger injury",
          "right upper back pain",
          "hives",
          "lumps",
          "mania",
          "gunshot wound",
          "right hand injury",
          "panic attack",
          "left buttock pain",
          "neck swelling",
          "urinary urgency",
          "body aches",
          "self inflicted injury",
          "anemia",
          "multiple complaints",
          "scrotal swelling",
          " deep vein thrombosis",
          "failure to thrive",
          "right foot infection",
          "right lower extremity pain",
          "right heel pain",
          "ankle swelling",
          "shortness of breath",
          "right ankle fracture",
          "left hip pain",
          "stab wound",
          "chemo",
          "dehydration",
          "implantable cardioverter defibrillator evaluation",
          "dysphagia",
          "diarrhea",
          "right wrist injury",
          "feeling unwell",
          "weight loss",
          "testicular pain",
          "pulseless foot",
          "tachypnea",
          "left ankle fracture",
          "lower extremity swelling",
          "cellulitis",
          "small bowel obstruction",
          "subdural hematoma",
          "facial injury",
          "coccyx pain",
          "bilateral leg pain",
          "head strike",
          "hi",
          "status post assault",
          "right facial pain",
          "ascites",
          "high blood pressure",
          "gen weakness",
          "mouth pain",
          "mental status changes",
          "right leg numbness",
          "right foot pain",
          "hepatic encephalopathy",
          "non-sinus tachycardia elevation myocardial infarction",
          "chemical exposure",
          "multiple sclerosis flare",
          "bilateral arm pain",
          "knee injury",
          "kidney stone",
          "difficulty swallowing",
          "left lower back pain",
          "ped struck",
          "right leg laceration",
          "abdomen cramps",
          "overdose",
          "groin pain",
          "respiratory distress",
          "left shoulder dislocation",
          "left hip fracture",
          "bilateral hip pain",
          "left ankle pain",
          "redness",
          "left arm redness",
          "finger pain",
          "left femur fracture",
          "left knee pain",
          "tib fib fracture",
          "head pressure",
          "lower abdominal pain",
          "dizzy",
          "left foot redness",
          "urinary tract infection",
          "left thumb injury",
          "toe injury",
          "status post unwitnessed fall",
          "rib pain",
          "hip fracture",
          "rib fracture",
          "facial laceration",
          "depressed",
          "chest pain ",
          "foreign body in throat",
          "agitation",
          "rule out ectopic",
          "abnormalormal labs",
          "right groin pain",
          "hypothermia",
          "left foot injury",
          "left arm swelling",
          "sinus tachycardia",
          "assault",
          "left arm cellulitis",
          "left sided weakness",
          "drain evaluation",
          "red eye",
          "jejunostomy tube evaluation",
          "vaginal discharge",
          "ecchymosis",
          "left ankle swelling",
          "nausea vomiting diarrhea",
          "facial swelling",
          "abscess",
          "abnormal ekg",
          "bodyaches",
          "hemoptysis",
          "dizzy nausea",
          "left weakness",
          "hand laceration",
          "left flank pain",
          "foot infection",
          "laceration",
          "intracranial mass",
          "left arm numbness",
          "left breast pain",
          "asthma",
          "left thigh pain",
          "leg redness",
          "rule out cerebrovascular accident",
          "lower abdomen pain",
          "left headache",
          "bilateral leg weakness",
          "cyst",
          "right knee swelling",
          "labor",
          "requesting detox",
          "leg numbness",
          "foot pain",
          "bilateral ear pain",
          "diverticulitis",
          "loss of consciousness",
          "abdomen cramping",
          "epistaxis",
          "bumps",
          "bizarre behavior",
          "substance abuse",
          "left leg deep vein thrombosis",
          "right hand laceration",
          "hypotension",
          "wound infection",
          "not feeling well",
          "left pulseless foot",
          "heel pain",
          "right hand numbness",
          "vertigo",
          "abnormal sodium level",
          "right jaw pain",
          "left thumb laceration",
          "pleuritic chest pain",
          "right numbness",
          "periumbilical pain",
          "status post head injury",
          "left foot infection",
          "l-spine fracture",
          "right arm weakness",
          "c1 fracture",
          "myalgias",
          "suprapubic pain",
          "chest heaviness",
          "bicycle accident",
          "nasogastric tube evaluation",
          "left facial droop",
          "forehead laceration",
          "right hip injury",
          "right shoulder injury",
          "elbow pain",
          "self injury ",
          "red cell indices",
          "right leg cellulitis",
          "left facial swelling",
          "aphasia",
          "chills",
          "post operation",
          "left sided chest pain",
          "hypotensive",
          "change in mental status",
          "nasal injury",
          "left abdomen pain",
          "food bolus",
          "right leg weakness",
          "ich",
          "leg weakness",
          "right facial numbness",
          "right toe pain",
          "rabies vaccine",
          "abdomen pain with nausea",
          "visual changes",
          "right ear pain",
          "dizziness",
          "bilateral lower back pain",
          "t-spine fracture",
          "right back pain",
          "neuro deficit",
          "bilateral knee pain",
          "bite",
          "chin laceration",
          "abnormal ct scan",
          "evaluation",
          "difficulty ambulating",
          "anxious",
          "pneumonia",
          "eye swelling",
          "status post motor vehicle accident",
          "hand swelling",
          "post operation pain",
          "ethyl alcohol",
          "pre-syncope",
          "left upper quadrant abdominal pain",
          "left foot ulcer",
          "paranoid delusion",
          "blurry vision",
          "burn",
          "hematuria",
          "toothache",
          "upper respiratory infection",
          "new atrial fibrillation",
          "back pain",
          "ventricular tachycardia",
          "shortness of breath ",
          "abdomen  pain",
          "right headache",
          "head laceration",
          "right eye injury",
          "leg injury",
          "hyperglycemia",
          "insect bite",
          "near syncope",
          "right facial swelling",
          "peritonsillar abscess",
          "rule out stroke",
          "left hand pain",
          "change in multiple sclerosis",
          "fevers",
          "right arm pain",
          "left sided numbness",
          "left upper back pain",
          "chest pains",
          "pancreatitis",
          "edema",
          "bilateral leg numbness",
          "hyperkalemia",
          "lightheaded",
          "right lower back pain",
          "hiccups",
          "left leg weakness",
          "joint pain",
          "eye pain",
          "infection",
          "fistula evaluation",
          "urosepsis",
          "multiple sclerosis change",
          "right sided abdomen pain",
          "pneumothorax",
          "urinary retention",
          "abdomen distention",
          "medical clearance",
          "rule out deep vein thrombosis",
          "pedal edema",
          "code cord",
          "right testicular pain",
          "nose pain",
          "c2 fracture",
          "medication error",
          "lower back pain",
          "left facial pain",
          "right upper quadrant pain",
          "right wrist pain",
          "weakness",
          "right hand redness",
          "bilateral eye swelling",
          "agitated",
          "abnormal labs",
          "left wrist injury",
          "throat tightness",
          "hernia",
          "ankle injury",
          "found down",
          "left leg injury",
          "status post motor vehicle collision",
          "psych evaluation",
          "shoulder pain",
          "allergic reaction",
          "chest tightness",
          "port evaluation",
          "pain control",
          "bilateral hand numbness",
          "dysuria",
          "left leg pain",
          "stroke",
          "post operation bleeding",
          "vomiting ",
          "vomiting",
          "elevated inr",
          "abdomen pain",
          "abnormal xray",
          "buttock pain",
          "motor vehicle collision",
          "skin evaluation",
          "elevated white blood cell ",
          "chest congestion",
          "pleural effusion",
          "right chest pain",
          "inguinal pain",
          "hallucinations",
          "left foot swelling",
          "right arm swelling",
          "flank pain",
          "right arm cellulitis",
          "skin erythema",
          "right leg redness",
          "eye redness",
          "arm weakness",
          "head bleed",
          "chest discomfort",
          "foley insertion",
          "bright red blood per rectum",
          "pericardial effusion",
          "supraventricular tachycardia",
          "right thigh pain",
          "seizures",
          "right knee pain",
          "unresponsive",
          "itching",
          "fatigue",
          "scrotal pain",
          "right leg swelling",
          "medical refill",
          "bicyclist struck",
          "rash",
          "left hip injury",
          "tachycardia",
          "right thumb pain",
          "abdomen pain nausea",
          "presyncope",
          "foley evaluation",
          "sedative withdrawal",
          "left eye swelling",
          "cholecystitis",
          "nose injury",
          "wrist pain",
          "lethargy",
          "bilateral foot pain",
          "lab draw",
          "diplopia",
          "status post unresponsive",
          "bilateral lower extremity edema",
          "pelvic pain",
          "suture removal",
          "abnormal mri",
          "left sided abdomen pain",
          "decreased po intake",
          "peripherally inserted central catheter evaluation",
          "numbness",
          "passed out",
          "left eye redness",
          "hemodialysis",
          "bilateral eye pain",
          "confusion",
          "unable to urinate",
          "knee pain",
          "opioid withdrawal",
          "asthma exacerbation",
          "right femur fracture",
          "left leg laceration",
          "left arm laceration",
          "left lower extremity pain",
          "right leg pain",
          "nasal congestion",
        ];

        // Reference to the select element
        var selectElement = $(".js-example-basic-multiple");

        // Populate options
        $.each(optionsArray, function (index, value) {
          var option = new Option(value, value);
          selectElement.append(option);
        });

        // Initialize Select2
        selectElement.select2();
      });
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar custom-navbar">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            class="navbar-brand"
            style="font-size: x-large; font-weight: bolder"
            href="#"
            >CETA</a
          >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li>
              <a class="nav-link" href="#">App</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Home Page -->
    <div class="container mx-auto mt-3">
      <h2 class="heading">Welcome to the Canadian Emergency Triage App</h2>
      <!-- Add content for the home page as needed -->
    </div>

    <!-- App Page -->
    <div class="container mt-3">
      <form action="/evaluateTriage" method="POST"></form>
    </div>
    <hr />

    <div class="form-container">
      <img
        src="{{ url_for('static', filename='images/Picture1.png') }}"
        alt="Input Image"
        class="input-image-center"
      />

      <!-- Horizontal Line after the image -->
      <hr class="footer-image-line" />
      <form action="/evaluateTriage" method="POST" onsubmit="submitForm(event)" id="triageForm">
        <!-- Gender -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label>Gender</label>
          </div>
          <div class="col-md-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="m"
              />
              <label
                class="form-check-label form-check-label-spacing"
                for="male"
                >Male</label
              >
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="f"
              />
              <label
                class="form-check-label form-check-label-spacing"
                for="female"
                >Female</label
              >
            </div>
          </div>
        </div>

        <!-- Arrival Mode Row -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="arrivalMode">Arrival Mode</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" id="arrivalMode" name="arrivalMode">
              <option value="walk in">Walk-in</option>
              <option value="ambulance">Ambulance</option>
              <option value="other">Other</option>
              <option value="unknown">Unknown</option>
              <option value="helicopter">Helicopter</option>
            </select>
          </div>
        </div>

        <!-- Temperature -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="temperature">Temperature</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              name="temperature"
              id="temperature"
              placeholder="Enter temperature"
            />
          </div>
        </div>

        <!-- Heart rate-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="Heartrate">Heart rate</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              id="heartrate"
              name="heartrate"
              placeholder="Enter Heart rate"
            />
          </div>
        </div>

        <!-- Resperate -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="Resperate">Resperate</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              id="resperate"
              name="resperate"
              placeholder="Enter Resperate"
            />
          </div>
        </div>

        <!-- O2 Saturation-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="o2saturation">Oxygen Saturation</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              name="o2saturation"
              id="o2saturation"
              placeholder="Enter Oxygen Saturation"
            />
          </div>
        </div>

        <!-- Systolic BP-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="sbp">Systolic Blood Pressure</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              name="sbp"
              id="sbp"
              placeholder="Enter Systolic Blood Pressure"
            />
          </div>
        </div>

        <!-- Diastolic BP-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="dbp">Diastolic Blood Pressure</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              name="dbp"
              id="dbp"
              placeholder="Enter Diastolic Blood Pressure"
            />
          </div>
        </div>

        <!-- Pain Level-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="pain">Pain Level</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              name="pain"
              id="pain"
              placeholder="Enter Pain Level Between 0 and 10"
            />
          </div>
        </div>

        <!-- Chief Complaint-->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label for="pain">Symptoms</label>
          </div>
          <div class="col-md-4">
            <select
              class="js-example-basic-multiple"
              multiple="multiple"
              data-placeholder="  Enter Sympotms"
              name="symptoms"
            >
              <option value=""></option>

              <!-- Add more options as needed -->
            </select>
          </div>
        </div>

        <div class="row">
          <div class="row button-container">
            <div class="col-md-6"></div>
            <div class="col-md-5">
              <button type="submit" class="btn btn-lg">Evaluate Triage</button>
              <button type="reset" class="btn btn-secondary btn-lg">
                Reset
              </button>
            </div>
          </div>
        </div>

        <hr />
        <!-- acquity is : <b> {{ predicted_acuity }} </b> -->

        <div class="row" id="conditionalDiv">
        {% if predicted_acuity == '1' %}
          <div class="badge-wrap">
            <div class="badge">
              <div class="badge-header">Triage level is <b> {{ predicted_acuity }} - IMMEDIATE </b></div>
              <div class="badge-content">
                <p> Patients with life-threatening conditions requiring immediate attention.</p>
              </div>
            </div>
          </div>
        {% elif predicted_acuity == '2' %}
          <div class="badge-wrap">
            <div class="badge" style="color:black;background-color: yellow;">
              <div class="badge-header">Triage level is <b> {{ predicted_acuity }} - URGENT </b></div>
              <div class="badge-content">
                <p>Patients with serious conditions requiring prompt attention but not immediately life-threatening</p>
              </div>
            </div>
          </div>
        {% elif predicted_acuity == '3' %}
          <div class="badge-wrap">
            <div class="badge" style="background-color: green;">
              <div class="badge-header">Triage level is <b> {{ predicted_acuity }} - DELAYED </b></div>
              <div class="badge-content">
                <p>Patients with non-life-threatening injuries or illnesses that can wait for medical attention</p>
              </div>
            </div>
          </div>
        {% elif predicted_acuity == '4' %}
          <div class="badge-wrap">
            <div class="badge" style="background-color: black;">
              <div class="badge-header">Triage level is <b> {{ predicted_acuity }} - MINOR </b></div>
              <div class="badge-content">
                <p>Patients with minor injuries or illnesses, necessitating minimal medical intervention</p>
              </div>
            </div>
          </div>
        {% elif predicted_acuity == '5' %}
          <div class="badge-wrap">
            <div class="badge" style="background-color: grey;">
              <div class="badge-header">Triage level is <b> {{ predicted_acuity }} - EXPECTANT </b></div>
              <div class="badge-content">
                <p>Patients with severe, unsurvivable injuries. Resources are prioritized for those with a better chance of survival</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="badge-wrap">
            <div class="badge">
              <div class="badge-header">Triage level is </b></div>
              <div class="badge-content">
                Something is wrong
              </div>
            </div>
          </div>
       {% endif %}
      </div>

        <!-- gender : {{ genderVar }} <br />
        arrival mode : {{ arrivalmodeVar }} <br />
        pain level : {{painlevelVar}} <br />
        symptom1 : {{symptom1}} <br />
        symptom2 : {{symptom2}} <br />
        temperatureVar : {{temperatureVar}} <br />
        heartrateVar = {{heartrateVar}}  <br />
        resperateVar = {{resperateVar}} <br />
        o2saturationVar = {{o2saturationVar}} <br />
        sbpVar = {{sbpVar}} <br />
        dbpVar = {{dbpVar}} <br />
        reshape_numerical_features = {{ reshape_numerical_features }} <br />
        scaled_numerical_features = {{ scaled_numerical_features }} <br /> -->

        <!-- {%if predicted_acuity == '1'%}

      data is : <p style="color: red;">{{ predicted_acuity }}</p>
       {%else%}
       data is : <p style="color:green;">{{ predicted_acuity }}</p>
       {% endif %}  -->

      
        <script>
          $(document).ready(function () {
            $(".js-example-basic-multiple").select2();
          });

          var predicted_acuity = {{ predicted_acuity }};

          if ( predicted_acuity != null ) {
            document.getElementById("conditionalDiv").style.display = "block";
          }
      

        </script>
      
      </form>
    </div>

    <!-- Footer -->
    <footer class="custom-footer">
      <div class="container">
        <p>Developed by the students of UofW.</p>
      </div>
    </footer>

    <img
      src="{{ url_for('static', filename='images/footer1.png') }}"
      alt="Left Image"
      class="footer-image footer-image-left"
    />
    <img
      src="{{ url_for('static', filename='images/footer2.png') }}"
      alt="Right Image"
      class="footer-image footer-image-right"
    />
  </body>
</html>
